html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homepage-button {
    display: block;
    margin: 0px auto;
    margin-top: 50px;
    padding: 10px 0;
    background-color: #222222;
    text-align: center;
    color: #FAF3E1;
}

body {
    background-color: #F5E7C6;
}

h1 {
    font-family: Garamond, "Times New Roman", sans-serif;
    font-size: 60px;
    font-style: italic;
    letter-spacing: 3px;
    text-align: center;
    background-color: #222222;
    color: #FAF3E1;
    padding: 30px;
    margin: 0px auto;
    margin-bottom: 80px;
    box-shadow: 0px 1px 5px #2e291f;
}

.recipe-list {
    background-color: #FAF3E1;
    margin: 0px auto;
    width: 600px;
    height: 350px;
    box-shadow: 5px 5px 20px;
    padding: 35px;
    border-radius: 20px;
}

.recipe-list li {
    font-size: 30px;
    font-family: Verdana, Tahoma, sans-serif;
    margin: 40px;
}

img {
    display: block;
    margin: 0px auto 80px;
    border: white solid 15px;
    border-bottom: white solid 45px;
    text-align: center;
}

.procedure {
    font-family: Verdana, Tahoma, sans-serif;
    width: 900px;
    height: auto;
    padding: 0px 40px;
    margin: 0px auto;
}

.procedure h2 {
    font-size: 30px;
}

.procedure h3 {
    margin: 30px
}

.procedure li {
    margin-left: 50px;
    margin-bottom: 10px;
}

.procedure h2 {
    margin: 40px 0px;
}

footer {
    border-top:  5px dotted #FAF3E1;
    margin-top: 90px;
    padding: 30px 0px 0px;
    text-align: center;
}