html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5E7C6;
}

h1 {
    font-family: Garamond, "Times New Roman", sans-serif;
    font-size: 60px;
    font-style: italic;
    letter-spacing: 3px;
    text-align: center;
    background-color: #222222;
    color: #FAF3E1;
    padding: 30px;
    margin: 0px auto;
    margin-bottom: 80px;
    box-shadow: 0px 1px 5px #2e291f;
}

.recipe-list {
    background-color: #FAF3E1;
    margin: 0px auto;
    width: 600px;
    height: 350px;
    box-shadow: 5px 5px 20px;
    padding: 35px;
    border-radius: 20px;
}

.recipe-list li {
    font-size: 30px;
    font-family: Verdana, Tahoma, sans-serif;
    margin: 40px;
}